*{
    margin: 0;
    padding: 0;
}
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
}
.child{
    width: 22vw;
    height: 20vh;
    background-color: blue;
}